{{define "adminbody"}}
<h2>Configuration</h2>
<div class="configlist">
<form method="POST" action="/admin/config">

    {{if .ErrorMessage}}<div class="errorMessage"><ul>{{range .ErrorMessage}}<li>{{.}}</li>{{end}}</ul></div>{{end}}

    {{$tString := .TypeString}}
    {{$tBool := .TypeBool}}
    {{$tInt := .TypeInt}}
    {{$tKey := .TypeKey}}
    {{$alt := 0}}

    {{range .Values}}
    <div class="configItem{{if $alt}} rowAlt{{end}}">
        <label for="{{.Key}}">{{.Key}}</label>
        {{if eq .Type $tString}}
        <input type="text" id="{{.Key}}" name="{{.Key}}" value="{{.Value}}" />
        {{else if eq .Type $tKey}}
        <input type="password" id="{{.Key}}" name="{{.Key}}" value="{{.Value}}" />
        {{else if eq .Type $tInt}}
        <input type="number" id="{{.Key}}" name="{{.Key}}" value="{{.Value}}" />
        {{else if eq .Type $tBool}}
        <input type="checkbox" id="{{.Key}}" name="{{.Key}}"{{if .Value}} checked="checked"{{end}} />
        {{end}}
    </div>

    {{$alt = not $alt}}
    {{end}}

    <div class="configItem">
        <hr style="width:100%" />
    </div>

    {{/* TODO: confirmation for stuff below */}}
    {{/*
    <div class="configItem rowAlt">
        <label for="ClearPassSalt">Clear Password Salt</label>
        <input type="checkbox" id="ClearPassSalt" name="ClearPassSalt" />
    </div>

    <div class="configItem">
        <label for="ClearCookies">Clear Cookie Hashes</label>
        <input type="checkbox" id="ClearCookies" name="ClearCookies" />
    </div>
    */}}

    <div class="configItem">
        <input type="submit" value="Save" />
    </div>

</form>
</div>
{{end}}
