{{define "adminbody"}}
<h2>Configuration</h2>
<div class="configlist">
<form method="POST" action="/admin/config">

    {{if .ErrorMessage}}<div class="errorMessage"><ul>{{range .ErrorMessage}}<li>{{.}}</li>{{end}}</ul></div>{{end}}

    <div class="configItem rowAlt">
        <label for="HostAddress">Server Address</label>
        <input type="text" id="HostAddress" name="HostAddress" value="{{.HostAddress}}"/>
    </div>

    <div class="configItem{{if .ErrMaxUserVotes}} errorMessage{{end}}">
        <label for="MaxUserVotes">MaxUserVotes</label>
        <input type="number" id="MaxUserVotes" name="MaxUserVotes" value="{{.MaxUserVotes}}" />
    </div>

    <div class="configItem rowAlt">
        <label for="EntriesRequireApproval">EntriesRequireApproval</label>
        <input type="checkbox" id="EntriesRequireApproval" name="EntriesRequireApproval" {{if .EntriesRequireApproval}}checked {{end}}/>
    </div>

    <div class="configItem">
        <label for="VotingEnabled">VotingEnabled</label>
        <input type="checkbox" id="VotingEnabled" name="VotingEnabled" {{if .VotingEnabled}}checked {{end}}/>
    </div>

    <div class="configItem">
        <label for="MinNameLength">Min Username Length</label>
        <input type="number" id="MinNameLength" name="MinNameLength" value="{{.MinNameLength}}"/>
    </div>

    <div class="configItem rowAlt">
        <label for="MaxNameLength">Max Username Length</label>
        <input type="number" id="MaxNameLength" name="MaxNameLength" value="{{.MaxNameLength}}"/>
    </div>

    <div class="configItem">
        <label for="NoticeMessage">Notice banner message (blank hides)</label>
        <input type="text" id="NoticeMessage" name="NoticeMessage" value="{{.NoticeMessage}}"/>
    </div>
    <div class="configItem">
        <hr style="width:100%" />
    </div>
	<div class="configItem">
        <label for="AutofillEnabled">Enable Autofill from APIs</label>
        <input type="checkbox" id="AutofillEnabled" name="AutofillEnabled" {{if .AutofillEnabled}}checked {{end}}/>
    </div>

	{{if .AutofillEnabled}}
	 <div class="configItem">
        <label for="JikanEnabled">Enable Jikan API usage</label>
        <input type="checkbox" id="JikanEnabled" name="JikanEnabled" {{if .JikanEnabled}}checked {{end}}/>
    </div>

	 <div class="configItem">
        <label for="TmdbEnabled">Enable Tmdb API usage (requires a valid API Key)</label>
        <input type="checkbox" id="TmdbEnabled" name="TmdbEnabled" {{if .TmdbEnabled}}checked {{end}}/>
    </div>

	<div class="configItem rowAlt">
        <label for="TmdbToken">Your tMDB API Key</label>
        <input type="password" id="TmdbToken" name="TmdbToken" value="{{.TmdbToken}}"/>
    </div>
	{{end}}



    <div class="configItem">
        <hr style="width:100%" />
    </div>

    {{/* TODO: confirmation for stuff below */}}
    <div class="configItem rowAlt">
        <label for="ClearPassSalt">Clear Password Salt</label>
        <input type="checkbox" id="ClearPassSalt" name="ClearPassSalt" />
    </div>

    <div class="configItem">
        <label for="ClearCookies">Clear Cookie Hashes</label>
        <input type="checkbox" id="ClearCookies" name="ClearCookies" />
    </div>

    <div class="configItem">
        <input type="submit" value="Save" />
    </div>

</form>
</div>
{{end}}
