{{define "adminbody"}}

<form method="POST" id="endCycleForm" action="/admin/cycles">
<div class="adminCenter">
{{if eq .Stage 1}}
    {{range .Movies}}
        <div class="adminMovie">
            <div><input type="checkbox" name="cb_{{.Id}}" checked="checked" /></div>
            <div>{{len .Votes}}</div>
			<div id="name">{{.Name}}</div>
			{{if .Remarks}}<div id="remarks">Remarks:</br>{{.Remarks}}</div>{{end}}
        </div>
    {{end}}
    <div>
    Override End date: <input type="checkbox" name="OverrideEndDate" id="OverrideEndDate" checked="checked" />
    <input type="date" name="NewEndDate" id="NewEndDate" />
    </div>
    <div><button type="submit" name="action" value="select">Select Movies</button></div>
    <div><button type="submit" name="action" value="cancel">Cancel</button></div>

{{else if eq .Stage 2}}
    <div>Movies picked</div>
    {{range .Movies}}
    <div class="adminMovie">
        <div>{{.Name}}</div>
    </div>
    {{end}}
    <div><a href="Start new cycle">Start new cycle</a></div>
{{end}}
</div>
</form>

{{end}}
