{{define "header"}}{{end}}

{{define "body"}}
{{ $user := .User }}
{{ $votingEnabled := .VotingEnabled }}
{{ $votesAvailable := .AvailableVotes }}

<div id="movieCard" class="movieCol">
    <div id="moviePoster">
        <img src="/{{.Movie.Poster}}" />
    </div>
    <div class="movieMetaCol">
        <div id="movieTitle">
            {{.Movie.Name}}
        </div>
        <div id="movieMeta">
            {{if .Movie.Rating}}<p class="movieRating">Rating: {{.Movie.Rating}}</p>{{end}}
            {{if .Movie.Duration}}<p class="movieDuration">Duration: {{.Movie.Duration}}</p>{{end}}

            {{if .Movie.Links}}
                <div class="movieLinks">
                    {{if eq (len .Movie.Links) 1 }}
                        <a href="{{(index .Movie.Links 0).Url}}">Visit on {{(index .Movie.Links 0).Type}}</a>
                    {{else}}
                        <a href="{{(index .Movie.Links 0).Url}}">Visit on {{(index .Movie.Links 0).Type}}</a>
                        <p>Other Links:</p>
                    <ul>{{range (slice .Movie.Links 1)}}<li><a href="{{.Url}}">{{.Url}}</a></li>{{end}}</ul>
                    {{end}}
                </div>
            {{end}}
        </div>
        <div class="movieDescription">
            {{if .Movie.Remarks}}<p>Remarks by {{.Movie.AddedBy.Name}}:</p>
            {{.Movie.Remarks}}
            {{end}}

            <p></p>
            {{.Movie.Description}}
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="movieTagList">
            {{if .Movie.Tags}}
            <ul class="movieTags">{{range .Movie.Tags}}
                <li class="movieTagItem">{{.Name}}</li>{{end}}
            </ul>
            {{end}}
        </div>
        <br />
        
        <div id="movieStats">
            {{if .Movie.CycleWatched}}
            <p>Watched: {{.Movie.CycleWatched.EndedString}}</p>
            {{end}}
            <div class="movieAddedBy">Added by: {{if .Movie.AddedBy}} <div class="movieAddedName">{{.Movie.AddedBy.Name}} {{else}} somebody {{end}}</div></div>
            <div>
                {{if .Movie.Votes}}
                <p>Votes: {{len .Movie.Votes}}</p>
                <ul>{{range .Movie.Votes}}
                    <li>{{.User.Name}}</li>{{end}}
                </ul>
                {{else}}
                <p>No votes</p>
                {{end}}
            </div>
            {{/* {{if $user}}
            <div class="voteButton">
                {{if .Movie.UserVoted $user.Id }}
                 {{if and $votingEnabled (not .Movie.CycleWatched)}}<a class="voteLinkButton2" href="/vote/{{.Movie.Id}}">Remove</a>{{end}}
                {{else}}
                {{if not .Movie.CycleWatched}}
                    {{if lt $votesAvailable 1}}No votes<br />available
                    {{else if and (gt $votesAvailable 0) $votingEnabled }}<a class="voteLinkButton" href="/vote/{{.Movie.Id}}">Vote</a>{{end}}
                    {{end}}
                {{end}}
            </div>
            {{end}} */}}

        </div>
</div>
</div>

{{end}}
