.adminRowItem {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.adminRowSubItem {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.adminRow {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}
