html {
    background-color:#333333;
    font-family: "Hack", sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #CFCCD1;
}

a {
    color: #cfccd1;
}

a:hover {
    color: #f0edf2;
}

#root {
    display:flex;
    flex-direction: row;
    justify-content: center;
	flex-wrap: wrap;
}

#movieCard, #movieStats {
    display:flex;
    flex-direction: column;
}

#movieCard {
    border: 1px solid black;
    background: #2266aa;
}

#movieStats {
    border: 1px solid black;
    background: #2266aa;
}

.movieCol {
    width: 30%;
}

.cycleCard {
    display:flex;
    flex-direction: column;
    width: 75%;
}

.cycleVotes {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
}

.voteList{
    flex-grow: 5;
}

.voteRoot {
    display:flex;
    flex-direction:column;
    padding:1em;
    margin: 1em;
    border-radius: 5px;
    background-color: #2266aa;
}

.voteNamePoster {
    display:flex;
    flex-direction:column;
}

.votePosterList {
    display:flex;
    flex-direction:row;
}

.voteName {
    font-weight:bold;
    font-size:1.5em;
    margin-bottom: 10px;
    max-width: 400px;
}

.votePoster img, #moviePoster img {
    width: 200px;
    padding: 0px 10px 10px 10px;
}

.errorMessage {
    background-color: red;
    color: #000000;
}

.warningIcon {
    color: #FF0000
}

.errorPopup {
    display: none;
}

i:hover + .errorPopup {
    display: block;
    position: absolute;
    z-index: 200;
    width: 390px;
    background-color: #ff8181;
    border-left: inset;
    border-color: red;
    border-width: thick;
    padding: 3px;
    padding-left: 0.5em;
    color: #363637;    
}

.voteButton {
    text-align: right;
}

.voteRight {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

#addMovieForm {
    display: flex;
    flex-direction: column;
}

.movieInput {
    display: flex;
    flex-direction: column;
}

#header {
    font-size: large;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #70707f;
}

.titleLink, .titleLink:hover {
    text-decoration: none;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#adminHeader {
    font-size: large;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
    background-color: #70707f;
}

.configItem {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}

.configSection {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: .5em;
    padding: 5px;
}

.rowAlt {
    background-color: #363637;
}

.sectionTitle {
    text-align: right;
    font-weight: bold;
    font-size: 125%;
    padding-top: 10px;
}

.adminMovie {
    display: flex;
    margin: 1em;
}

.adminMovie div {
    margin: 0.2em;
}

.adminMovie #name {
	width: 60%;
}

.adminMovie #remarks {
	width: 35%;
}
#endCycleForm {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.adminCenter {
    width: 75%;
    display:flex;
    flex-direction: column;
}

.cycleList {
    display:flex;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cycleListElement {
    display:flex;
    flex-direction: column;
    margin: 1em;
    background-color:#2266aa;
    padding: 1em;
    border-radius: 5px;
}

.cycleItemHead {
}

.cycleMovieWrapper {
    display:flex;
    justify-content: space-evenly;
}

.cycleMovie {
    display:flex;
    flex-direction: column;
    max-width: 200px;
}

.cycleMovie img {
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.votingNotification {
    padding: 1em;
    padding-bottom: 0em;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.searchbar input[type=text] {
	border: none;
    padding: 6px;
	margin-top: 8px;
}

.searchbar button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  border: none;
  cursor: pointer;
}

#notice {
    width: 75%;
    background-color: red;
    margin: auto;
    text-align: center;
    color: white;
    padding: 5px 0px;
    margin-bottom: 10px;
}

.countdown {
    width: 100%;
    text-align: center;
}



@keyframes octocat-wave{
    0%,100%{
        transform:rotate(0)
    }
    20%,60%{
        transform:rotate(-25deg)
    }
    40%,80%{
        transform:rotate(10deg)
    }
}

.github-corner:hover .octo-arm{
    animation:octocat-wave 560ms ease-in-out
}

@media (max-width:500px){
    .github-corner:hover .octo-arm{
        animation:none
    }
    .github-corner .octo-arm{
        animation:octocat-wave 560ms ease-in-out
    }
}
