html {
    background-color:#333333;
    font-family: "Hack";
    font-size: 14px;
    font-style: normal;
    color: #CFCCD1;
}

a {
    color: #cfccd1;
}

a:hover {
    color: #f0edf2;
}

#root {
    display:flex;
    flex-direction: row;
    justify-content: center;
	flex-wrap: wrap;
}

#movieCard, #movieStats {
    display:flex;
    flex-direction: column;
}

#movieCard {
    border: 1px solid black;
    background: #2266aa;
}

#movieStats {
    border: 1px solid black;
    background: #2266aa;
}

.movieCol {
    width: 30%;
}

.cycleCard {
    display:flex;
    flex-direction: column;
    width: 75%;
}

.cycleVotes {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
}

.voteRoot {
    display:flex;
    flex-direction:column;
    padding:1em;
    margin: 1em;
    border-radius: 5px;
    background-color: #2266aa;
}

.voteNamePoster {
    display:flex;
    flex-direction:column;
}

.votePosterList {
    display:flex;
    flex-direction:row;
}

.voteName {
    font-weight:bold;
    font-size:1.5em;
    margin-bottom: 10px;
}

.votePoster img, #moviePoster img {
    width: 200px;
    padding: 0px 10px 10px 10px;
}

.errorMessage {
    background-color: red;
    color: #000000;
}

.voteButton {
    text-align: right;
}

.voteRight {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

#addMovieForm {
    display: flex;
    flex-direction: column;
}

.movieInput {
    display: flex;
    flex-direction: column;
}

#header {
    font-size: large;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #70707f;
}

.titleLink, .titleLink:hover {
    text-decoration: none;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#adminHeader {
    font-size: large;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
    background-color: #70707f;
}

.configItem {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}

.rowAlt {
    background-color: #363637;
}

.sectionTitle {
    text-align: right;
    font-weight: bold;
    font-size: 125%;
    padding-top: 10px;
}

.adminMovie {
    display: flex;
    margin: 1em;
}

.adminMovie div {
    margin: 0.2em;
}

#endCycleForm {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.adminCenter {
    width: 75%;
    display:flex;
    flex-direction: column;
}

.cycleList {
    display:flex;
    flex-direction: column;
    width: 80%;
}

.cycleListElement {
    display:flex;
    flex-direction: column;
    margin: 1em;
}

.cycleItemHead {
}

.cycleMovieWrapper {
    display:flex;
    justify-content: space-evenly;
}

.cycleMovie {
    display:flex;
    flex-direction: column;
}

.cycleMovie img {
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.votingNotification {
    padding: 1em;
    padding-bottom: 0em;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.searchbar input[type=text] {
	border: none;
    padding: 6px;
	margin-top: 8px;
}

.searchbar button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  border: none;
  cursor: pointer;
}
