html {
    background-color:#0F0F11;
    font-family: "Hack";
    font-size: 14px;
    font-style: normal;
    color: #cfccd1;
}

a {
    color: #cfccd1;
}

a:hover {
    color: #f0edf2;
}

#root {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#movieCard, #movieStats {
    display:flex;
    flex-direction: column;
}

#movieCard {
    border: 1px solid black;
    background: darkblue;
}

#movieStats {
    border: 1px solid black;
    background: darkblue;
}

.movieCol {
    width: 30%;
}

.cycleCard {
    display:flex;
    flex-direction: column;
    width: 75%;
}

.cycleVotes {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
}

.voteRoot {
    display:flex;
    flex-direction:column;
    padding:1em;
    margin: 1em;
    border-radius: 5px;
    background-color: darkblue;
}

.voteNamePoster {
    display:flex;
    flex-direction:column;
}

.votePosterList {
    display:flex;
    flex-direction:row;
}

.voteName {
    font-weight:bold;
    font-size:1.5em;
    margin-bottom: 10px;
}

.votePoster img {
    width: 200px;
    padding: 0px 10px 10px 10px;
}

.errorMessage {
    background-color: red;
}

.voteButton {
    text-align: right;
}

.voteRight {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

#addMovieForm {
    display: flex;
    flex-direction: column;
}

.movieInput {
    display: flex;
    flex-direction: column;
}

#header {
    font-size: large;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #70707f;
}

.titleLink, .titleLink:hover {
    text-decoration: none;
}
