{{define "header"}}{{end}}

{{define "body"}}
<form method="POST" action="/add" enctype="multipart/form-data">
    {{if .ErrorMessage}}<div class="errorMessage"><ul>{{range .ErrorMessage}}<li>{{.}}</li>{{end}}</ul></div>{{end}}
    <div id="addMovieForm">
		{{if .FormfillEnabled}}
        <div class="movieInput">
            <div{{if .ErrTitle}} class="errorMessage"{{end}}><label for="MovieName">Movie Title</label></div>
			<div><textarea name="MovieName" id="MovieName" style="width:400px">{{if .ValTitle}} {{.ValTitle}}{{end}}</textarea></div>
        </div>
        <div class="movieInput">
            <div{{if .ErrDescription}} class="errorMessage"{{end}}><label for="Description">Description</label></div>
            <div><textarea name="Description" id="Description" style="width:400px">{{if .ValDescription}}{{.ValDescription}}{{end}}</textarea></div>
        <div class="movieInput">
            <div{{if .ErrLinks}} class="errorMessage"{{end}}><label for="Links">Links</label></div>
            <div><textarea name="Links" id="Links" style="width:400px">{{if .ValLinks}}{{.ValLinks}}{{end}}</textarea></div>
        </div>
        <div class="movieInput">
            <div{{if .ErrPoster}} class="errorMessage"{{end}}><label for="PosterFile">Poster Image</label></div>
            <div><input type="file" name="PosterFile" id="PosterFile" accept="image/*"style="width:400px"/></div>
        </div>
		<div class="movieInput">
			<div{{if .ErrAutofill}} class="errorMessage"{{end}}><label for="AutofillBox">Autofill Data with the provided Link</label></div>
			<div><input type="checkbox" name="AutofillBox" id="AutofillBox"/></div>
		</div>
		{{end}}

		{{if not .FormfillEnabled}}
        <input type="hidden" name="AutofillBox" value="on" />
        <div class="movieInput">
            <div{{if .ErrLinks}} class="errorMessage"{{end}}><label for="Links">Enter IMDB or MyAnimeList link for a movie to add:</label></div>
            <div><textarea name="Links" id="Links" style="width:400px">{{if .ValLinks}}{{.ValLinks}}{{end}}</textarea></div>
        </div>
		{{end}}

		<div class="movieInput">
            <div{{if .ErrRemarks}} class="errorMessage"{{end}}><label for="Remarks">Enter your remarks here:</label></div>
            <div><textarea name="Remarks" id="Remarks" style="width:400px">{{if .ValRemarks}}{{.ValRemarks}}{{end}}</textarea></div>
        </div>
        <div class="movieInput">
            <div><input type="submit" value="Add Movie" /></div>
        </div>
    </div>
</form>
{{end}}
