{{$cycle := .CurrentCycle}}
<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="/static/site.css">
        <title>MoviePolls - {{.PageTitle}}</title>
        {{template "header" . }}
    </head>
    <body>
        <div id="header">
            <div id="headTitle"><a href="/" class="titleLink">MoviePolls</a>{{if .PageTitle}} - {{.PageTitle}}{{end}}</div>
            <div id="userButtons">
                <a href="/history">History</a>
                {{if .User}}
                    {{if .User.CheckPriv "ADMIN"}}<a href="/admin">Admin</a>
                    {{else if .User.CheckPriv "MOD"}}<a href="/admin">Mod</a>{{end}}
                    {{if $cycle}}<a href="/add">Add Movie</a>{{end}}
                    <a href="/user">Account</a>
                    <a href="/user/logout">Logout</a>
                {{else}}
                    <a href="/user/login">Login</a>
                {{end}}
            </div>
        </div>
        <div id="root">
            {{template "body" . }}
        </div>
    </body>
</html>
