{{/* Stuff for the current cycle */}}

{{define "header"}}{{end}}

{{define "body"}}
{{ $voteListSize := 10 }}
{{ $user := .User }}
{{ $votingEnabled := .VotingEnabled }}
{{ $votesAvailable := .AvailableVotes }}

{{if .LastCycle}}
<div class="cycleHistory">
	In the last Movienight on {{.LastCycle.EndedString}} we watched:
	<ul>
	{{range .LastCycle.Watched}}
	<li><a href="/movie/{{.Id}}">{{.Name}}</li>
	{{end}}
	</ul>
</div>
{{end}}


<div class="searchbar">
	<form action="/" method="post">
		<input type="text" placeholder="Search..." name="search">
		<button type="submit">Submit</button>
	</form>
</div>

<div class="cycleCard">
    {{if not $votingEnabled}}
    <div class="votingNotification">
        Voting currently disabled.
    </div>
    {{end}}

    <div class="cycleVotes">
        {{if .Movies}}
        {{range .Movies}}
        <div class="voteRoot">
            <div class="voteName"><a href="/movie/{{.Id}}">{{.Name}}</a></div>
            <div class="votePosterList">
                <div class="votePoster"><img src="/poster/{{.Poster}}" /></div>
                <div class="voteRight">
                    <div class="voteList">
                        <b>Votes: {{len .Votes}}</b>
                        <ul>{{ $votes := .Votes }}{{ $vl := len $votes}}
                            {{if gt $vl $voteListSize}}{{$votes = slice $votes 0 $voteListSize}}{{end}}
                            {{range $votes}}<li>{{.User.Name}}</li>{{else}}<li>No Votes</li>{{end}}
                            {{if gt $vl $voteListSize}}<li><a href="#">[...]</a></li>{{end}}
                        </ul>
                    </div>
                    {{if $user}}
                    <div class="voteButton">
                        {{if .UserVoted $user.Id }}
                        Voted! {{if and $votingEnabled (not .CycleWatched)}}(<a href="/vote/{{.Id}}">Remove</a>){{end}}
                        {{else}}
                        {{ if lt $votesAvailable 1}}No votes<br />available
                        {{else if and (gt $votesAvailable 0) (and $votingEnabled (not .CycleWatched)) }}<a href="/vote/{{.Id}}">Vote</a>{{end}}
                        {{end}}
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
        {{end}}
        {{else}}
        <div>No movies :C</div>
        {{end}}

    </div>
</div>
{{end}}
