{{define "header"}}{{end}}

{{define "body"}}
{{ $user := .User }}
{{ $votingEnabled := .VotingEnabled }}
{{ $votesAvailable := .AvailableVotes }}

<div id="movieCard" class="movieCol">
    <div id="movieTitle">
        {{.Movie.Name}}
    </div>
    <div id="moviePoster">
        <img src="/posters/{{.Movie.Poster}}" />
    </div>
    <div>
        {{if .Movie.Remarks}}<p>Remarks by {{.Movie.AddedBy.Name}}:</p>
        {{.Movie.Remarks}}
        {{end}}

        <p>Description:</p>
        {{.Movie.Description}}
    </div>
</div>

<div id="movieStats" class="movieCol">
    {{if .Movie.CycleWatched}}
    <p>Watched: {{.Movie.CycleWatched.EndedString}}</p>
    {{end}}
    <div>Added by: {{if .Movie.AddedBy}} {{.Movie.AddedBy.Name}} {{else}} somebody {{end}}</div>
    {{if .Movie.Links}}<div><ul>{{range .Movie.Links}}<li><a href="{{.}}">{{.}}</a></li>{{end}}</ul></div>{{end}}
    <div>
        {{if .Movie.Votes}}
        <p>Votes: {{len .Movie.Votes}}</p>
        <ul>{{range .Movie.Votes}}
            <li>{{.User.Name}}</li>{{end}}
        </ul>
        {{else}}
        <p>No votes</p>
        {{end}}
    </div>
    {{if $user}}
    <div class="voteButton">
        {{if .Movie.UserVoted $user.Id }}
        Voted! {{if and $votingEnabled (not .Movie.CycleWatched)}}(<a href="/vote/{{.Movie.Id}}">Remove</a>){{end}}
        {{else}}
        {{if not .Movie.CycleWatched}}
            {{if lt $votesAvailable 1}}No votes<br />available
            {{else if and (gt $votesAvailable 0) $votingEnabled }}<a href="/vote/{{.Movie.Id}}">Vote</a>{{end}}
            {{end}}
        {{end}}
    </div>
    {{end}}
</div>

{{end}}
