{{define "header"}}{{end}}

{{define "body"}}
<div id="movieCard" class="movieCol">
    <div id="movieTitle">
        {{.Movie.Name}}
    </div>
    <div id="moviePoster">
        <img src="/poster/{{.Movie.Poster}}" />
    </div>
    <div>
        {{.Movie.Description}}
    </div>
</div>

<div id="movieStats" class="movieCol">
    {{if .Movie.CycleWatched}}
    <p>Watched: {{.Movie.CycleWatched.EndedString}}</p>
    {{end}}
	<div>Added by: {{if .Movie.AddedBy}} {{.Movie.AddedBy.Name}} {{else}} somebody {{end}}</div>
    {{if .Movie.Links}}<div><ul>{{range .Movie.Links}}<li><a href="{{.}}">{{.}}</a></li>{{end}}</ul></div>{{end}}
    <div>
        {{if .Movie.Votes}}
        <p>Votes: {{len .Movie.Votes}}</p>
        <ul>{{range .Movie.Votes}}
            <li>{{.User.Name}}</li>{{end}}
        </ul>
        {{else}}
        <p>No votes</p>
        {{end}}
    </div>
</div>

{{end}}
