{{define "adminbody"}}
<h2>Current Cycle</h2>
<form method="POST" action="/admin/cyclepost">
{{if .Cycle }}
<div>
    ID: {{.Cycle.Id}}<br />
    PlannedEnd: {{.Cycle.PlannedEndString}} -
    <input type="date" name="modEndDate" id="modEndDate" /><button value="update" name="actionType">Update Planned End</button><br />
    Ended: {{.Cycle.EndedString}}<br />
</div>
{{else}}
<p>No cycle currently active</p>
{{end}}

<div>
    {{if .Cycle}}<a href="/admin/cycles?action=end">End Cycle</a>{{else}}

<h2>New Cycle</h2>
    <div>Planned End: <input name="endDate" id="endDate" type="date" /></div>
    <div><button value="create" name="actionType">Create New</button></div>
</form>

    {{end}}
</div>

<h2>Past Cycles</h2>
{{range .Past}}
    PlannedEnd: {{.PlannedEndString}}<br />
    Ended: {{.EndedString}}<br />
    Watched:
    <ul>
    {{range .Watched}}<li><a href="/movie/{{.Id}}" target="_blank">{{.Name}}</a></li>{{end}}
    </ul>
{{end}}

{{end}}
